#body{
    margin: 0;
    padding: 0;
}

#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter:grayscale(80%)
}

#carousel{
    position: relative; 
}

.overlay {
    position:absolute; 
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD100;
}


#text-llamado{
    color: #FFD100 !important;
    font-size: 18px;
    font-weight: 900;
}

#header{
    background-color: #202020;
    
}
#header a{
    color: #FFD100;
    font-family: "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo{
    max-height: 80px;
    max-width: 80px;
}

#footer{
    background-color: #202020;
}

#carusel{
    max-height: 80vh;
    object-fit: cover;
    filter: sepia(30%);
    height: 400px;
    width: 400px;
    position: absolute;
    left: 500px;
    

}

#evento-marca{
    background-color: #202020;
    color: #FFD60A;
}

#evento-marca img{
    max-width: 100%;
    width: 650px;
}

#conviertete-en-colaborador{
    background-color: #d6d6d6;
    color: #202020;
}

#conviertete-en-colaborador label{
    color: #000814;
}
